/* src/index.css o src/App.css */
@font-face {
    font-family: 'Averia Serif Libre';
    src: url('./assets/fonts/AveriaSerifLibre-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Averia Serif Libre', sans-serif;
    background-color: rgb(211, 211, 211) !important;
}

/* login-form */
.login-container{
    margin-top: 8%;
    width: 450px;
}


/* usuario */
li  .btn-login{
    background-color: wheat;
}
li .btn-login:hover{
    background-color: #ff3333; /* Cambia el color al pasar el mouse */
    color: white;
}

/* productos */
.container-card-product{
    width: 200px;
}

.container-card-category-product{
    width: 250px !important;
}